:root {
  --color-iris: #4d5ae5;
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --color-light: #ffffff;
  --color-invert: #f4f4fd;
  --color-accent: #e7e9fc;
  --color-ocean: #404bbf;
  --color-success: #31d0aa;
  --color-helper-text: #8e8f99;
  --color-footer-icon: rgba(100%, 100%, 100%, 10%);
  --background-color-modal: #2e2f4266;
  --background-modal-window: #fcfcfc;

  /*-----------------FONT-FAMILY----------------- */
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  /* ----------------OTHERS---------------------- */
  --indent: 24px;
  --items: 1;
  --timing: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* ----------------BRACKPOINTS----------------- */
  --phone-screen: 480px;
  --tablet-screen: 768px;
  --desktop-screen: 1200px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  font-family: inherit;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
  border: none;
  border: solid 1px #ffffff4d;
  border-radius: 4px;
}

body {
  font-family: var(--font-primary);
  color: var(--color-secondary);
}

.link {
  text-decoration: none;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
  padding-left: 0;
}

.card-set-item {
  flex-basis: calc((100% - (var(--indent) * (var(--items)- 1))) / var(--items));
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*-----------------HEADER----------------- */
.header {
  border-bottom: 1px solid var(--color-accent);
}

@media screen and (max-width: 767px) {
  .header {
    min-width: 320px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 24px;
  padding-bottom: 24px; */
}

@media screen and (max-width: 767px) {
  .header-wrapper {
    justify-content: space-between;
    min-width: 320px;
    max-width: 428px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: 0;
  /* margin-right: 332px; */
}

@media screen and (min-width: 768px) {
  .header-nav {
    margin-right: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    margin-right: 332px;
  }
}

.logo {
  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: 18px;
  color: var(--color-iris);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .logo {
    margin-right: 0;
  }
}

@media screen and (min-width: 320px) {
  .logo {
    line-height: 1.17;
    margin-right: 123px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    line-height: 1.33;
    margin-right: 76px;
  }
}

.header-logo {
  color: var(--color-primary);
}
.header-list {
  display: flex;
  gap: 40px;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

.header-link {
  font-weight: 500;
  color: var(--color-primary);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition-property: color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

.current {
  color: var(--color-iris);
  position: relative;
  transition-property: background-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}
.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-ocean);
  border-radius: 2px;
  bottom: 0;
}
.link:hover,
.link:focus {
  color: var(--color-ocean);
}
.header-contacts {
  display: flex;
  gap: 40px;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
    gap: 0;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts {
    flex-direction: column;
    gap: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    flex-direction: row;
    gap: 40px;
  }
}

.header-contact {
  font-weight: 400;
  color: var(--color-secondary);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition-property: color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 768px) {
  .header-contact {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/*-----------------MAIN----------------- */
.hero-section {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 320px) {
  .hero-section {
    max-width: 428px;
    height: 432px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/img-1_mob.webp');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/hero/img-1_mob@2x.webp');
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/img-1_tab.webp');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/hero/img-1_tab@2x.webp');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero/img-1_desk.webp');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/hero/img-1_desk@2x.webp');
    }
  }
}

.hero-title {
  text-align: center;
  font-weight: 700;
  color: var(--color-light);
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .hero-title {
    max-width: 320px;
    font-size: 36px;
    line-height: 1.111;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.071;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-button {
  display: flex;
  border-radius: 4px;
  border: none;
  background-color: var(--color-iris);
  cursor: pointer;
  color: var(--color-light);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  transition-property: background-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}

/* ------------ADVANTAGES------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-section {
  padding: 96px 0;
}
@media screen and (min-width: 1200px) {
  .advantages-section {
    padding: 120px 0;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: var(--indent);
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    flex-wrap: nowrap;
  }
}

.advantages-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantages-item {
    width: 356px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-item {
    width: 264px;
  }
}
.advantages-wrapper {
  display: none;
}
@media screen and (max-width: 1199px) {
  .element-icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--color-invert);
    margin-bottom: 8px;
  }
}

.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-primary);
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.advantages-text {
  font-weight: 500;
}
@media screen and (min-width: 1200px) {
  .advantages-text {
    font-weight: 400;
  }
}

.text-transfer {
  display: none;
}
@media screen and (min-width: 768px) {
  .text-transfer {
    display: block;
  }
}

/* --------------WORK ---------------- */
.work-section {
  padding-bottom: 120px;
}
@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}
.work-wrapper {
  width: 1128px;
  margin: 0 156px 130px 156px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  color: var(--color-primary);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  text-align: center;
}
.work-list {
  flex-wrap: nowrap;
  display: flex;
  /* gap: var(--indent);
  padding: 0;
  --items: 3; */
}

/* -------------TEAM-------------- */
.team-section {
  background-color: var(--color-invert);
  padding: 96px 0;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding: 120px 0;
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  color: var(--color-primary);
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 72px;
  text-align: center;
}

.team-list {
  justify-content: center;
  row-gap: 72px;
}
@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

.team-item {
  background-color: var(--color-light);
  border-radius: 0 0 4px 4px;
  border: 1px solid var(--color-accent);
  border-top: none;
  max-width: 264px;
}

.person-wrapper {
  text-align: center;
  padding: 32px 0;
}

.team-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-primary);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-text {
  margin-bottom: 8px;
}

/* ------------TEAM-SOCIALS-------------- */
.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  border-radius: 50%;
  color: var(--color-invert);
  transition-property: background-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-ocean);
}

/* ---------CUSTOMERS------------ */
.customers-section {
  padding: 96px 0;
}

@media screen and (min-width: 1200px) {
  .customers-section {
    padding: 120px 0;
  }
}

.customers-title {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: var(--indent);
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 190px;
  height: 88px;
  color: var(--color-helper-text);
  transition-property: color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 768px) {
  .customers-link {
    width: 168px;
  }
}

.customers-link:hover,
.customers-link:focus {
  color: var(--color-ocean);
}

.customers-icon {
  fill: currentColor;
  width: 110px;
}

@media screen and (min-width: 768px) {
  .customers-icon {
    width: 104px;
  }
}

/*-----------------FOOTER----------------- */
.footer {
  background-color: var(--color-primary);
}
@media screen and (min-width: 320px) {
  .footer {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 100px 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-info {
    padding-left: 108px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-info {
    padding-left: 15px;
  }
}

.footer-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 72px;
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .footer-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /* padding-left: 108px; */
    column-gap: var(--indent);
  }
}

@media screen and (min-width: 1200px) {
  .footer-info {
    column-gap: 0;
  }
}

.logo-footer {
  margin: 0;
}

.footer-logo {
  color: var(--color-invert);
}

.footer-text {
  width: 264px;
  color: var(--color-accent);
  margin-top: 16px;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer-social-media {
    align-items: flex-start;
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-media {
    margin-left: 120px;
    margin-right: 80px;
  }
}

.footer-social-text {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light);
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
  width: 208px;
}

.footer-socials-link {
  color: rgba(#fff, 0.1);
  background-color: var(--color-footer-icon);
  transition-property: background-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--color-success);
}

/* ------------SUBSCRIBE------------- */
.subscribe-feedback-title {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light);
  margin-bottom: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .subscribe-feedback-title {
    text-align: start;
  }
}

.subscribe-wrapper {
  display: block;
}

@media screen and (min-width: 768px) {
  .subscribe-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--indent);
  }
}

.subscribe-feedback-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  color: #ffffff99;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .subscribe-feedback-input {
    width: 264px;
  }
}

.subscribe-feedback-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  margin-top: 16px;
  width: 165px;
  height: 40px;
  color: var(--color-light);
  background-color: var(--color-iris);
}

@media screen and (min-width: 768px) {
  .subscribe-feedback-button {
    margin: 0;
  }
}

.subscribe-feedback-icon {
  fill: currentColor;
}
/* ----------------STUDIO------------------- */
/* ---------------PORTFOLIO----------------- */
.filter-section {
  padding-top: 48px;
}

@media screen and (min-width: 1200px) {
  .filter-section {
    padding-top: 96px;
  }
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media screen and (max-width: 767px) {
  .filter-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 16px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    margin-bottom: 58px;
  }
}

@media screen and (max-width: 767px) {
  .filter-list {
    margin-bottom: 72px;
  }
}

.filter-button {
  border-radius: 4px;
  border: var(--color-accent);
  cursor: pointer;
  background-color: var(--color-invert);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-iris);
  letter-spacing: 0.04em;
  padding: 8px 16px;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

@media screen and (min-width: 768px) {
  .filter-button {
    padding: 12px 24px;
  }
}

@media screen and (min-width: 768px) {
  .filter-mob {
    display: none;
  }
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--color-ocean);
  color: var(--color-light);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 2px 1px 0px #00000014, 0px 3px 1px 0px #0000001a;
}

.portfolio-title {
  max-width: 360px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-primary);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-list {
  row-gap: 48px;
  column-gap: 24px;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    margin-bottom: 96px;
    --indent: 2;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-bottom: 120px;
    row-gap: 48px;
  }
}

.portfolio-card {
  display: block;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  transition-property: box-shadow;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229, 0px 1px 6px 0px #2e2f4214;
}

.portfolio-card:hover .portfolio-overlay-text,
.portfolio-card:focus .portfolio-overlay-text {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229, 0px 1px 6px 0px #2e2f4214;
  transform: translate(0, 0);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px 164px;
  background-color: var(--color-iris);
  color: var(--color-invert);
  transform: translateY(100%);
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  transition-property: box-shadow, transform;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

.portfolio-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--color-accent);
  border-top: none;
}

.portfolio-overlay-img {
  width: 396px;
}

@media screen and (min-width: 768px) {
  .portfolio-overlay-img {
    width: 356px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-overlay-img {
    width: 360px;
  }
}

/* ---------Modal Window---------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-modal);
  transition-property: opacity, visibility;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 392px;
  height: 586px;
  background-color: var(--background-modal-window);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 3px 0px #0000001f, 0px 1px 1px 0px #00000024;
  transition-property: transform, opacity;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
  transition-delay: var(--timing);
  padding: 72px 16px 24px 16px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 584px;
  }
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-100%);
  opacity: 0;
  transition-delay: var(--timing);
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #0000001a;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition-property: fill, background-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--color-light);
  background-color: var(--color-ocean);
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-primary);
}

/* -------------------FORM---------------- */

.modal-feedback-form {
  min-height: 456px;
}

.modal-feedback-label {
  display: block;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  color: var(--color-helper-text);
  margin-bottom: 4px;
}

.modal-feedback-group {
  position: relative;
  margin-bottom: 8px;
}

.modal-feedback-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #21212133;
  padding-left: 38px;
  padding-right: 38px;
  transition-property: border-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

.modal-feedback-input:focus {
  border-color: var(--color-iris);
}

.modal-feedback-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition-property: fill;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

.modal-feedback-input:focus + .modal-feedback-icon {
  fill: var(--color-iris);
}
.modal-feedback-comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid #21212133;
  padding: 8px 16px;
  resize: none;
  margin-bottom: 16px;
  transition-property: border-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}

.modal-feedback-comment:focus {
  border-color: var(--color-iris);
}
.modal-feedback-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.modal-feedback-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-primary);
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background-color, border-color;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
}
.modal-feedback-checkbox:checked {
  background-color: var(--color-ocean);
  border-color: var(--color-ocean);
}

.modal-feedback-wrapper {
  user-select: none;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
}
.modal-feedback-link {
  color: var(--color-iris);
  text-decoration: underline;
}
.modal-feedback-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: var(--color-iris);
  color: var(--color-light);
  border: none;
  box-shadow: 0px 4px 4px 0px #00000026;
  margin: 0 auto;
  cursor: pointer;
}

/* --------------HEADER-BURGER-------------- */

.menu-toggle {
  min-width: 32px;
  min-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.mobile-icon {
  stroke: currentColor;
}

/* --------------MOBILE-MENU---------------- */
.menu-container {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 40px 40px;
  background-color: var(--color-light);
  z-index: 999;

  transform: translateX(100%);
  transition-property: transform;
  transition-duration: var(--timing);
  transition-timing-function: var(--timing-function);
  transition-delay: var(--timing);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  top: 40px;
  right: 40px;
  min-width: 32px;
  min-height: 32px;
}

.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus {
  fill: var(--color-light);
  background-color: var(--color-ocean);
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--color-primary);
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: auto;
  margin-bottom: 48px;
}

.accent {
  color: var(--color-ocean);
}

.mobile-phone {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-iris);
}

@media (max-width: 419px) {
  .mobile-phone {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.mobile-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
}

@media (min-width: 768px) {
  .menu-container {
    display: block;
  }
}
